<div class="form-container">
<h2><%= t(:"edit product") %></h2>
<%= form_with model: product do |form| %>
    <div class="form-group">
        <%= form.label t(:title) %><br>
        <%= form.text_field :title %>
        <% product.errors.full_messages_for(:title).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
        <%= form.label t(:category) %><br>
        <%= form.select :category_id, options_for_select(@categories.collect { | cat | [t(cat.name), cat.id]}) %>
        <% product.errors.full_messages_for(:body).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
        <%= form.label t(:description) %><br>
        <%= form.text_area :body %>
        <% product.errors.full_messages_for(:body).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
        <%= form.label t(:"add images") %><br>
        <%= form.file_field :image, multiple: true, accept: "image/*" %>
        <% product.errors.full_messages_for(:image).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">

        <%= form.label t(:"remove images") %>
        <% product.image.each do |image| %>
        <div class="image-container">
            <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
            <%= check_box_tag 'product[remove_images][]', image.id, false, class: 'remove-checkbox' %>
        </div>
        <% end %>
        <% product.errors.full_messages_for(:remove_images).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
        <%= form.label t(:condition) %><br>
        <%= form.select :condition, [[t(:"choose"), ""] ,[t(:new), "new"], [t(:"as new"), "as new"], [t(:used), "used"], [t(:"not working"), "not working"]] %>
    </div>

    <div class="form-group">
        <%= form.label t(:price_type) %>
        <%= form.select :price_type, [[t(:"asking price"), "asking price"], [t(:bidding), "bidding"], [t(:"see description"), "see description"], [t(:trade), "trade"], [t(:free), "free"]] %>
    </div>

    <div class="form-group">
        <%= form.label t(:"price input field") %>
        <%= form.number_field :price, step: "0.01"  %>
        <% product.errors.full_messages_for(:price).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
        <%= form.label t(:"delivery method") %><br>
        <%= form.select :delivery, [[t(:pickup), "pickup"], [t(:delivery), "delivery"]] %>
        <% product.errors.full_messages_for(:delivery).each do |message| %>
            <div class="error-messages"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group submit-button">
        <%= form.submit t(:submit) %>
    </div>

<% end %>
</div>