<% products.each do |product| %>
                
                <div class="grid-item">
                    <div class="image-container-zoom">
                    <%= link_to image_tag(product.image[0]), product %>
                    </div>
                    <%= link_to product.title, product, class: "item-tekst" %> 
                    <% if product.distance.present? %>
                    <p><%= product.distance.to_i.round %> km</p>
                    <% end %>
                    <p class="item-tekst">
                    <% if product.gereserveerd %>
                        Gereserveerd
                    <% elsif product.price_type == "asking price" %>
                        <%= number_to_currency(product.price, unit: '€', separator: ',', delimiter: '.') %>
                    <% else %>
                        <%= t(product.price_type) %>
                    <% end %>
                    </p>
                </div>
            <% end %>
            <div style="width: 100%">
            <%== pagy_nav(@pagy) %>
            </div>