<nav class="navbar">
        <div class="navbar-left">
            <h2 style="margin-right: 50px">Chinmarket 荷兰中文平台</h2>
            <%= link_to t(:home), root_path, class: "navbar-link" %>
        </div>
        <div class="navbar-right" style="flex-wrap: wrap;">
            <%= language_dropdown %>
            <%= link_to t(:"new advertisement"), new_product_path, class: "navbar-link", style: "background-color: orange" %>
            <div class="dropdown">
            <% if user_signed_in? %>
                    <button class="dropdown-toggle"><%= current_user.first_name %></button>
                        <div class="dropdown-content">
                            <%= link_to t(:settings), edit_user_registration_path, class: "navbar-link" %>
                            <%= link_to t(:sign_out), destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
                        </div>
                </div>
            <% else %>
                        <%= link_to t(:login), new_user_session_path, class: "navbar-link" %>
            <% end %>
        </div>
    </nav>